version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev.yml
    container_name: js-playground-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    stdin_open: true
    tty: true
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      
volumes:
  mongo-data: