version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev.yml
    container_name: js-playground-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    stdin_open: true
    tty: true
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      
    mysql:
        image: mysql:8.1
        container_name: mysql-db
        restart: always
        ports:
          - "3306:3306"
        volumes:
          - mysql-data:/var/lib/mysql

volumes:
  mongo-data:
  mysql-data: